@import url("observablehq:default.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
    margin: 0;
    margin-left: 50px;
    padding: 0;
    font-family: "EB Garamond", serif;
    font-weight: 450;
    font-size: 14pt;
    line-height: 1.5;
    color: #515151;
    margin: auto;
    padding: 10px;
}

.logo {
    display: inline;
    width: 150px;
    vertical-align: top;
    margin-left: -40px;
}

.intro-title {
    font-weight: 500 !important;
    font-size: 2.15em;
    font-style: italic;
    font-family: "EB Garamond", serif;
    margin-bottom: 10px;
}

.grid {
    max-width: 1000px;
    margin: auto;
}

.card {
    font-family: "EB Garamond", serif;
    font-size: 14pt;
    padding: 5px;
}

.headshot-card img {
    border-radius: 0.5rem;
    max-width: 200px;
}

.headshot-card {
    font-family: sans-serif;
    font-size: 12pt;
}

.links img {
    border-radius: 0rem;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 5px;
}

.info h2 {
    font-size: 20pt;
    font-style: italic;
    font-weight: 500;
}

.info {
    border-color: #51515155;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    /* font-family: var(--sans-serif); */
    font-size: 12pt;
    font-weight: 500;
    padding-left: 10px;
}

.cv-heading {
    font-weight: 500 !important;
    font-size: 1.5em;
    font-style: italic;
    font-family: "EB Garamond", serif;
    margin-bottom: 10px;
    margin-top: 20px;
}

.cv-entry {
    margin-bottom: 10px;
    margin-left: 15px;
}

.cv-degree {
    font-weight: 600;
    font-size: 14pt;
}

.cv-advisor {
    font-size: 12pt;
    margin-left: 15px;
}

.cv-thesis {
    font-size: 12pt;
    margin-left: 15px;
}

.cv-course {
    font-size: 12pt;
    font-weight: 500;
    line-height: 12pt;
}

.cv-paper-title {
    font-size: 12pt;
    font-weight: 500;
    line-height: 12pt;
    font-style: italic;
}

.cv-paper-citation {
    font-size: 10pt;
    font-weight: 400;
    line-height: 12pt;
    margin-left: 15px;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #51515155;
    height: 2px;
    padding: 0px;
    margin-top: 0px;
}
